/* For desktop */
.search input[type="text"],
.search button {
    padding: 10px 20px;
    font-size: 18px; /* Adjust the font size as needed */
}

.search input[type="text"] {
    width: 70%; /* Adjust the width of the input field as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search button {
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    border-color: red;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition background color */
}

.search button:hover {
    background-color: red;
    color: white;
    cursor: none;
}

/* For mobile */
@media screen and (max-width: 740px) {
    .search input[type="text"] {
        width: 70%; /* Adjust the width of the input field for mobile */
    }

    .search button {
        padding: 0; /* Remove padding to make button square */
        width: 42px; /* Adjust the width of the square button */
        height: 42px; /* Adjust the height of the square button */
        border-radius: 5px; /* Remove border radius to make button square */
        border-color: red; /* Remove border */
        background-image: url('search.png'); /* Add your image path */
        background-size: cover; /* Make sure the image covers the button */
        background-repeat: no-repeat; /* Prevent image repetition */
        background-position: center; /* Center the image */
        text-indent: -9999px; /* Push the text outside the visible area */
        overflow: hidden; /* Hide any overflow */
        white-space: nowrap; /* Prevent wrapping */
    }
}
