.project-1-button {
    margin-top: 10%;
    margin-left: 1%;
    width: 500px;
    height: 40px;
    font-size: 15px;
}

.project-2-button {
    margin-top: 5%;
    margin-left: 1%;
    width: 500px;
    height: 40px;
    font-size: 15px;
}